body,
html {
  background-image: linear-gradient(to right bottom, #e3edf7, #dde7f1, #d7e1eb, #d2dce6, #ccd6e0, #ccd6e0, #ccd6e0, #ccd6e0, #d2dce6, #d7e1eb, #dde7f1, #e3edf7);
  color: #e3edf7;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

section,
aside,
.main, 
.left-area,
.info-area,
.sleep-area,
.widget,
#infoCard,
#days,
#hydrationDaysLabel,
#hydrationBottleLabel,
#hydrationBottle,
.meter-container,
.sleep-titles {
  display: flex;
}

#sleepWidget,
#sleepAveragesWidget,
#hydrationWidget,
.left-area {
  flex-direction: column;
}

aside,
.sleep-titles,
.meter-container,
#days,
#hydrationDaysLabel,
#hydrationBottleLabel {
  justify-content: space-evenly;
}

section,
#days,
#hydrationDaysLabel,
#hydrationBottleLabel,
#hydrationBottle,
#hydrationWidget {
  justify-content: center;
  align-items: center;
}

section,
#hydrationBottle,
#hydrationWidget
.left-area,
.hydration-area,
#waterMeterContainer,
#waterBottle {
  height: 100%;
}

.info-area,
.sleep-area,
#hydrationVisual,
#hydrationDays,
#hydrationDaysLabel,
#hydrationBottleLabel,
#waterMeterContainer {
  width: 100%;
}

#info,
#friends,
#days,
#hydrationDaysLabel,
#hydrationBottleLabel,
#dateSleepTitle,
#averageSleepTitle {
  text-align: center;
}

#days,
#hydrationDaysLabel,
#hydrationBottleLabel {
  height: 10%;
}

.main {
  height: 100vh;
  width: 100vw;
}

.left-area {
  width: 70%;
}

.hydration-area {
  width: 30%;
}

.info-area,
.sleep-area {
  height: 50%;
}

.widget {
  height: 80%;
  width: 90%;
  margin: 2%;
  padding: 1%;
  border-radius: 3rem;
  box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.61),
    -10px 10px 15px -1px rgba(255, 255, 255, 0.822);
}

#infoCard {
  width: 95%;
  margin-top: 70px;
  margin-bottom: 0;
  flex-direction: row;
  background-image: linear-gradient(to right bottom, #ff6968, #fe706e, #fc7675, #fb7c7b, #f98281, #f98281, #f98281, #f98281, #fb7c7b, #fc7675, #fe706e, #ff6968);
}

.icon {
  position: absolute;
  height: 10%;
  width: 10%;
}

#userIcon {
  right: 60%;
  top: 10%;
}

#friendsIcon {
  right: 30%;
  top: 10%;
}

#sleepIcon1 {
  right: 64%;
  top: 55%;
}

#sleepIcon2 {
  right: 30%;
  top: 55%;
}

#hydrationIcon {
  right: 0%;
  top: 10%;
}

#info,
#friends {
  margin-top: 0;
}

#info {
  width: 60%;
}

#friends {
  width: 40%;
  overflow-x: auto;
}

h1 {
  font-size: x-large;
  font-weight: 600;
  margin: 2%;
}

h2 {
  font-size: large;
  font-weight: 700;
  margin: none;
}

h3 {
  font-size: medium;
  font-weight: 700;
  margin: 2%;
}

#hydrationWidget {
  margin-top: 40px;
  height: 87%;
  background-image: linear-gradient(to right bottom, #2ac3ff, #48c7fc, #5dcbfa, #6ecef7, #7ed2f5, #7ed2f5, #7ed2f5, #7ed2f5, #6ecef7, #5dcbfa, #48c7fc, #2ac3ff);
}

#hydrationVisual {
  height: 60%;
}

#hydrationBottleLabel {
  margin-top: 10%;
  margin-bottom: 10%;
}

#days {
  position: absolute;
  top: 0.5%;
  width: 1700px;
  height: 40px;
}

.day-selector {
  height: 80%;
  width: 10%;
  border: none;
  border-radius: 1rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: large;
  font-weight: 400;
  color: #e3edf7;
  background-image: linear-gradient(to right bottom, #4b4b86, #50508b, #56568f, #5b5b94, #616199, #616199, #616199, #616199, #5b5b94, #56568f, #50508b, #4b4b86);
  cursor: pointer;
  box-shadow: 5px 5px 12px -1px rgba(0, 0, 0, 0.61),
    -5px 5px 15px -1px rgba(255, 255, 255, 0.822);
}

button {
  background-color: #466585;
}

#waterMeter {
  height: 0;
  width: 0;
}

#sleepWidget {
  background-image: linear-gradient(to right bottom, #5a65ff, #636dfe, #6d76fd, #757efc, #7e86fb, #7e86fb, #7e86fb, #7e86fb, #757efc, #6d76fd, #636dfe, #5a65ff);
}

#sleepAveragesWidget {
  background-image: linear-gradient(to right bottom, #7a55fd, #8261fb, #8b6cf9, #9276f7, #9a81f4, #9a81f4, #9a81f4, #9a81f4, #9276f7, #8b6cf9, #8261fb, #7a55fd);
}

.sleep-meter {
  position: relative;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.sleep-meter:before {
  content: "";
  position: absolute;
  height: 84%;
  width: 84%;
  background-color: #fff;
  border-radius: 50%;
}

.sleep-data {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: purple;
}

#dateSleepTitle {
  margin-top: -3%;
  margin-bottom: -5%;
}

#averageSleepTitle {
  margin-top: -2%;
}



