body,
html {
  background-image: linear-gradient(to right bottom, #e3edf7, #dde7f1, #d7e1eb, #d2dce6, #ccd6e0, #ccd6e0, #ccd6e0, #ccd6e0, #d2dce6, #d7e1eb, #dde7f1, #e3edf7);
  color: #e3edf7;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

section,
aside,
.main, 
.info-area,
.sleep-area,
.widget,
#infoCard,
#days,
#hydrationDaysLabel,
#hydrationBottleLabel,
#hydrationBottle,
.meter-container,
.sleep-titles {
  display: flex;
}

.main,
.sleep-area,
#sleepWidget,
#infoCard,
#sleepAveragesWidget,
#hydrationWidget {
  flex-direction: column;
}

aside,
.sleep-titles,
.meter-container,
#days,
#hydrationDaysLabel,
#hydrationBottleLabel {
  justify-content: space-evenly;
}

section,
#infoCard,
#days,
#hydrationDaysLabel,
#hydrationBottleLabel,
#hydrationBottle,
#hydrationWidget {
  justify-content: center;
  align-items: center;
}

section,
#hydrationBottle,
#hydrationWidget
.hydration-area,
#waterMeterContainer,
#waterBottle {
  height: 100%;
}

.info-area,
.sleep-area,
.widget-area,
#hydrationVisual,
#hydrationDays,
#hydrationDaysLabel,
#hydrationBottleLabel,
#waterMeterContainer {
  width: 100%;
}

#info,
#friends,
#days,
#hydrationDaysLabel,
#hydrationBottleLabel,
#dateSleepTitle,
#averageSleepTitle {
  text-align: center;
}

#days,
#hydrationDaysLabel,
#hydrationBottleLabel {
  height: 10%;
}

.main {
  height: 100vh;
  width: 100vw;
}

.info-area,
.sleep-area,
.hydration-area {
  height: 90%;
  width: 33%;
}

.widget {
  height: 80%;
  width: 90%;
  border-radius: 3rem;
  box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.61),
    -10px 10px 15px -1px rgba(255, 255, 255, 0.822);
}

#infoCard {
  height: 100%;
  width: 95%;
  background-image: linear-gradient(to right bottom, #ff6968, #fe706e, #fc7675, #fb7c7b, #f98281, #f98281, #f98281, #f98281, #fb7c7b, #fc7675, #fe706e, #ff6968);
}

#info {
  width: 60%;
}

#friends {
  width: 40%;
  overflow-y: auto;
  border-top: 4px solid white;
}

#friendsHeader {
  margin-bottom: 8%;
}

h1 {
  font-size: x-large;
  font-weight: 600;
  margin: 2%;
}

#name {
  font-size: 1.6rem;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

h2 {
  font-size: large;
  font-weight: 700;
  margin: none;
}

h3 {
  font-size: medium;
  font-weight: 700;
  margin: 2%;
}

#hydrationWidget {
  height: 100%;
  background-image: linear-gradient(to right bottom, #2ac3ff, #48c7fc, #5dcbfa, #6ecef7, #7ed2f5, #7ed2f5, #7ed2f5, #7ed2f5, #6ecef7, #5dcbfa, #48c7fc, #2ac3ff);
}

#hydrationVisual {
  height: 60%;
}

#hydrationBottleLabel {
  margin-top: 10%;
}

#days {
  width: 100vw;
  height: 40px;
}

.day-selector,
.input-hydration {
  height: 80%;
  width: 10%;
  border: none;
  border-radius: 1rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: large;
  font-weight: 400;
  color: #e3edf7;
  background-image: linear-gradient(to right bottom, #4b4b86, #50508b, #56568f, #5b5b94, #616199, #616199, #616199, #616199, #5b5b94, #56568f, #50508b, #4b4b86);
  cursor: pointer;
  box-shadow: 5px 5px 12px -1px rgba(0, 0, 0, 0.61),
    -5px 5px 15px -1px rgba(255, 255, 255, 0.822);
}

button {
  background-color: #466585;
}

#waterMeter {
  height: 0;
  width: 0;
}

#sleepWidget {
  background-image: linear-gradient(to right bottom, #5a65ff, #636dfe, #6d76fd, #757efc, #7e86fb, #7e86fb, #7e86fb, #7e86fb, #757efc, #6d76fd, #636dfe, #5a65ff);
  height: 50%;
  width: 100%;
}

#sleepAveragesWidget {
  background-image: linear-gradient(to right bottom, #7a55fd, #8261fb, #8b6cf9, #9276f7, #9a81f4, #9a81f4, #9a81f4, #9a81f4, #9276f7, #8b6cf9, #8261fb, #7a55fd);
  height: 50%;
  width: 100%;
  margin-bottom: 2%;
}

.sleep-meter {
  position: relative;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.sleep-meter:before {
  content: "";
  position: absolute;
  height: 84%;
  width: 84%;
  background-color: #fff;
  border-radius: 50%;
}

.sleep-data {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  color: purple;
  filter: none;
}

#dateSleepTitle {
  margin-top: -3%;
  margin-bottom: -5%;
}

#averageSleepTitle {
  margin-top: -2%;
}

.sleep-widget-pair {
  height: 100%;
  width: 90%;
}

.input-hydration{
  height: 5%;
  width: 40%;
  background:white;
  color: #2ac3ff;
  font-weight:500;
  box-shadow: 5px 5px 12px -1px rgba(0, 0, 0, 0.61),
    -5px 5px 15px -1px rgba(0, 0, 0, 0.61);
  cursor: pointer;
}

#hydrationForm {
  background-color: #2ac3ff;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height:400px;
  width:250px;
  box-shadow: 5px 5px 12px -1px rgba(0, 0, 0, 0.61),
    -5px 5px 15px -1px rgba(0, 0, 0, 0.61);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pop-up-form {
  display: none;
  width:100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  backdrop-filter: blur(6px);
}

#hydrationForm input[type=date], #hydrationForm input[type=number]{
  background:white;
  width:50%;
  height:30px;
}

#hydrationForm button {
  border-radius: 10%;
  width:100px;
  height:50px;
  border:none;
  font-size: 20px;
  cursor: pointer;
}

#hydrationForm aside {
  display:flex;
  justify-content: space-around;
  width:100%;
  align-items: center;
}

.closeBtn {
  background-color:red;
  color: #fff;
}

.form-error {
  color: red;
  font-weight: 900;
  text-align: center;
}

.hydration-form {
  margin-bottom: -10%;
}

.formBtn{
  background-color:white;
}

label{
  font-weight:700;
}

.blur {
  filter: blur(4px);
}

.draggable {
  cursor: move;
}

.draggable.dragging {
  opacity: 0.2;
}

